<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://i.pinimg.com/originals/47/0c/b1/470cb1cb2ec261d45a34b4221b93ac77.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <strong><li class="nav-item">
        <%= link_to "Inicio", "/", class: "nav-link" %>
      </li></strong>
      <strong><li class="nav-item">
        <%= link_to "Nossa História", "nossahistoria", class: "nav-link" %>
      </li></strong>
      <strong><li class="nav-item">
        <%= link_to "O Casamento", "#", class: "nav-link" %>
      </li></strong>
      <strong><li class="nav-item">
        <%= link_to "Confirme Sua Presença", "confirmesuapresenca", class: "nav-link" %>
      </li></strong>
      <strong><li class="nav-item">
        <%= link_to "Fotos", "fotos", class: "nav-link" %>
      </li></strong>
      <strong><li class="nav-item">
        <%= link_to "Lista de Presentes", "#", class: "nav-link" %>
      </li></strong>
    </ul>
  </div>
</div>
